[push]
	default = simple
[alias]
	; Simple short-hand aliases
	stat = status
	st = status
	co = checkout
	ci = commit
	br = branch
	; useful commands related to commit numbers
	last = !sh -c 'git log -n 1 && git diff HEAD^ HEAD'
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	recommit = commit --amend
	; info commands
	who = shortlog -s --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	aliases = !sh -c 'git config --get-regexp \"^alias\\.\" | sed -e \"s/alias\\.\\(\\S\\+\\)/    \\1 =/\"'
	; action commands
	panic = reset --hard ^HEAD
	prune-all = !git remote | xargs -n 1 git remote prune
	edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
	add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
